body{
    background: #ebe4dc;

}
header{
    background-color:#0e6286;
    height: 100px;
    width: 100vw;
    line-height: 100px;
    text-align: center;
    margin-bottom: 20px;
    
}
h1{
    color: #f1f1f1;
    font-size: 40px;
    font-family: 'Baloo Tammudu', cursive;
}

ul{
    color: #0e9183;
    width: 200px;
    align-items: center;
    display: block;

}

footer{
    color: #09b66d;
    
}
.profilePic{
    width: 220px;
      height: 220px;
      border-radius: 50%;
      border: null;
      transition: all .5s;
      display: block;
      margin: auto;
  }

  .profilePic:hover {
    transform: scale(1.2) rotate(20deg);
  }
  
h2{
    margin: 10px;
    text-align: center;
    font-family: 'Baloo Tammudu', cursive;
    font-size: 30px;
    color: #0e9183;
}  
h3{
    margin-top: 20px;
    text-align: center;
    font-family: 'Baloo Tammudu', cursive;
    color: #0e9183;
}  
h6{
    text-align: center;
    font-family: 'Baloo Tammudu', cursive;
    color: #09b66d;
    
}
p{
    text-align: center;
    font-family: 'Baloo Tammudu', cursive;  
    color: #0e9183;
    padding:5px;
}
p.quizGap{
    margin-bottom: 10px;
}

h4{
    text-align: center;
    color: #0e6286;
    font-family: 'Baloo Tammudu', cursive;
}
a:link{
    color:#09b66d
}
/* top 10 list */

li{
    margin: 10px;
    padding: 0px;
    text-align: center;
    font-family: 'Baloo Tammudu', cursive;
    font-size: 25px;
    color: #0e9183;
}
.list-title{
    /* background: red; */
    /* width:400px; */
    text-align: center
    
    
}
.list-container{
    /* background-color:red; */
    display:flex;
    justify-content: center;
    align-content: center;
}






/* Pictures of dog start here */
.kona-container{
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
    align-content: center;
    padding: 20px;
 
}
img.konaPic{
    padding: 15px;
    -webkit-filter: blur(1px) grayscale(70%); 
  transition: 0.2s -webkit-filter ease-in-out;
}
.konaPic:hover{
    -webkit-filter: blur(0px) grayscale(0);
    transform: blur(0px) grayscale(0); 
}
h5{
    color: #f1f1f1;
}
.footertext{color:#f1f1f1}


footer{
    background-color:#0e6286;
    text-align: center;
    height: 25px;
    line-height: 25px;
}




/* modal here */

.popup-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 00;
    left: 0;
    background-color: rgba(0,0,0,.75);
  
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

  
  
  }
  
  .popup{
    background-color: #f2f2f2;
    max-width: 600px;
    padding: 30px;
    min-width: 450px;
    z-index: 100;
  }
  
  .popup input[type = submit]{
    margin-top: 15px;
  }
  
  .isvisable{
    visibility:visible !important;
  }
  
  .modal-body img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  }
  

